@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @Html.ActionLink("Account Details", "Details", "Account")
    
    @Html.ActionLink("Log Out", "LogOff", "Account")
    }
    else
    {
    <br /><br /><br />

    <div class="enter-container">
        <div class="login-container white z-depth-2">
            <ul class="tabs teal">
                <li class="tab col s3 login-button"><a class="white-text active" href="#login">login</a></li>
                <li class="tab col s3 register-button"><a class="white-text" href="#register">register</a></li>
            </ul>
            <div id="login" class="col s12">
                <div id="login-form"></div>
            </div>
            <div id="register" class="col s12">
                <div id="register-form"></div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: '@Url.Action("Login", "Account")',
            success: function (result) {
                $('#login-form').html(result);
            }
        });
        $('.register-button').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("RegisterLogin", "Account")',
                success: function (result) {
                    $('#register-form').html(result);
                }
            });
        });
        $('.login-button').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("Login", "Account")',
                success: function (result) {
                    $('#login-form').html(result);
                }
            });
        });
    });
</script>