@{
    ViewData["Title"] = "Activity Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TripPlanet.Models.Activity

<h2>@Model.Name</h2>
@Html.ActionLink("Edit Activity", "Edit", "Activities", new { id = Model.ActivityId })
<p>Address: @Model.Address</p>
<p>Date: @Model.Date</p>
<p>Type: @Model.Type</p>
<p>Time Spent: @Model.TimeSpent</p>
<p>Cost: @Model.Cost</p>


@Html.ActionLink("Delete This Activity", "Delete", "Activities", new { id = Model.ActivityId }, new { @class = "waves-effect waves-light btn red lighten-1" })
<br />
@Html.ActionLink("Back to City", "Details", "Cities", new { id = Model.CityId })
