@{
    ViewData["Title"] = "Add Lodging";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TripPlanet.Models.Lodging
<div class="thisbackground">
    <div class="row">

        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="input-field inline col s6">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @placeholder = "Name of lodging", @required = "true" })
                </div>
                <div class="input-field inline col s6">
                    @Html.LabelFor(model => model.Address)
                    @Html.TextBoxFor(model => model.Address, new { @placeholder = "" })
                </div>
            </div>
            <div class="row">
                <div class="input-field inline col s6">
                    @Html.LabelFor(model => model.ArrivalDate)
                    @Html.TextBoxFor(model => model.ArrivalDate, new { @required = "true", @class = "datepicker" })
                </div>
                <div class="input-field inline col s6">
                    @Html.LabelFor(model => model.DepartureDate)
                    @Html.TextBoxFor(model => model.DepartureDate, new { @required = "true", @class = "datepicker" })
                </div>
            </div>
            <div class="row">
                <div class="input-field inline col s4">
                    @Html.LabelFor(model => model.Cost)
                    @Html.TextBoxFor(model => model.Cost)
                </div>
                @*<div class="input-field inline col s4">
                        @Html.LabelFor(model => model.Booked)
                        @Html.TextBoxFor(model => model.Booked, new { type="checkbox"})
                    </div>*@
                <div class="input-field inline col s4">
                    @Html.LabelFor(model => model.Confirmation)
                    @Html.TextBoxFor(model => model.Confirmation)
                </div>
            </div>
            <input type="submit" value="Add Lodging" />
        }
    </div>
    @Html.ActionLink("Back to City", "Details", "Cities", new { id = ViewBag.City.CityId })
</div>
    <script type="text/javascript">

    google.maps.event.addDomListener(window, 'load', function () {
        var cityLatitude = '@ViewBag.Latitude';
        var cityLongitude = '@ViewBag.Longitude';
        console.log(cityLatitude + cityLongitude);
        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(cityLatitude, cityLongitude));
        var options = {
            types: ['(lodging)'],
            bounds: defaultBounds
        };
        var input = document.getElementById('Name');

        var searchBox = new google.maps.places.SearchBox(input, options);
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();
            document.getElementById('Address').value = places[0].formatted_address;
            console.log(places);
            if (places.length == 0) {
                return;
            }
        });
    });
    </script>
