@{
    ViewData["Title"] = "Lodging Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TripPlanet.Models.Lodging

<h2>@Model.Name</h2>
@Html.ActionLink("Edit Lodging", "Edit", "Lodgings", new { id = Model.LodgingId })
<p>Address: @Model.Address</p>
<p>Arrival Date: @Model.ArrivalDate</p>
<p>Departure Date: @Model.DepartureDate</p>
<p>Cost: @Model.Cost</p>
<p>Booked? 
    @if (@Model.Booked)
    { <p>Yes</p><p>Confirmation: @Model.Confirmation</p>}
    else { <p>No</p>}</p>

<hr />

@Html.ActionLink("Delete Lodging From City", "Delete", "Activities", new { id = Model.LodgingId })
<br />
@Html.ActionLink("Back to City", "Details", "Cities", new { id = Model.CityId })