<!DOCTYPE html>

<html>
<head>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css" />

    <!-- jQuery is required -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit-icons.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@TripPlanet.Models.EnvironmentVariables.GoogleMaps&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    @*<link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />*@
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container" id="navbar">
            <div class="navbar-nav">
                <div id="navlink">@Html.ActionLink("YOUR TRIPS", "Index", "Trips")</div>
                <div id="navlink">@Html.ActionLink("ABOUT", "About", "Home")</div>
                <div id="brand">@Html.ActionLink("TRIP PLANET", "Index", "Home")</div>
                @if (User.Identity.IsAuthenticated)
                {
                <div id="navlink">@Html.ActionLink("YOUR ACCOUNT", "Details", "Account")</div>
                }
                else
                {
                    <div id="navlink">@Html.ActionLink("LOGIN", "Index", "Account")</div>
                }
                <div id="navlink">@Html.ActionLink("ALL TRIPS", "PublicTrips", "Trips")</div>
            </div>
        </div>
    </nav>
    <div class="render-body">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="bigfoot"></div>
        <div class="littlefoot">
            @if (User.Identity.IsAuthenticated)
            {
                <div id="navlink">@Html.ActionLink("LOG OUT", "LogOff", "Account")</div>
            }
        </div>
    </div>
</body>
</html>
