@{
    ViewData["Title"] = "Create a Trip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TripPlanet.Models.Trip
<div class="thisbackground">
    <h2>Create a New Trip</h2>
    <p>@Html.ActionLink("Back to trips", "Index")</p>
    <br /><br />
    <div class="row">
        @using (Html.BeginForm("Create", "Trips", FormMethod.Post, new { @class = "col s12" }))
        {
            <div class="row">
                <div class="input-field col s6">
                    @Html.TextBoxFor(model => model.Name, new { @required = "true" })
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="input-field col s6">
                    @Html.TextBoxFor(model => model.StartCity, new { @placeholder = "Enter a location", @required = "true" })
                    @Html.LabelFor(model => model.StartCity)
                </div>
            </div>
            <div class="row">
                <div class="input-field inline col s6">
                    @Html.LabelFor(model => model.BeginDate)
                    @Html.TextBoxFor(model => model.BeginDate, new { @required = "true", @class = "datepicker" })
                </div>
                <div class="input-field inline col s6">
                    @Html.LabelFor(model => model.EndDate)
                    @Html.TextBoxFor(model => model.EndDate, new { @required = "true", @class = "datepicker" })
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    @Html.TextBoxFor(model => model.Budget)
                    @Html.LabelFor(model => model.Budget)
                </div>
                <div class="input-field col s4">
                    @Html.TextBoxFor(model => model.Members)
                    @Html.LabelFor(model => model.Members)
                </div>
                @*DOESNT WORK*@
                @*<p class="col s4">
                    <input type="checkbox" id="Public" />
                    <label for="Public">Public</label>
                </p>*@
            </div>
            <br />
            <button type="submit" class="waves-effect waves-light btn">Create Trip</button>
        }
    </div>
</div>
<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', function () {
        var options = {
            types: ['(cities)']
        };
        var input = document.getElementById('StartCity');
        var places = new google.maps.places.Autocomplete(input, options);
    });
    $(document).ready(function () {
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: true // Close upon selecting a date,
        });
    });
</script>
