@{
    ViewData["Title"] = "Create a Trip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TripPlanet.Models.Trip

    <h2>Create a New Trip</h2>
<p>@Html.ActionLink("Back to trips", "Index")</p>
    <hr />

    <form class="uk-form-horizontal uk-margin-large">
        <div class="uk-margin">
            @Html.LabelFor(model => model.Name, new { @class = "uk-form-label" })
            <div class="uk-form-controls">
                @Html.TextBoxFor(model => model.Name, new { @required = "true", @class = "uk-input" })
            </div>
        </div>
        <div class="uk-margin">
            @Html.LabelFor(model => model.StartCity, new { @class = "uk-form-label" })
            <div class="uk-form-controls">
                @Html.TextBoxFor(model => model.StartCity, new { @required = "true", @class = "uk-input" })
            </div>
        </div>
        <div class="uk-margin">
            @Html.LabelFor(model => model.BeginDate, new { @class = "uk-form-label" })
            <div class="uk-form-controls">
                @Html.TextBoxFor(model => model.BeginDate, new { @required = "true", @class = "uk-input", type="date" })
            </div>
        </div>
        <div class="uk-margin">
            @Html.LabelFor(model => model.EndDate, new { @class = "uk-form-label" })
            <div class="uk-form-controls">
                @Html.TextBoxFor(model => model.EndDate, new { @required = "true", @class = "uk-input", type = "date" })
            </div>
        </div>
        <div class="uk-margin">
            @Html.LabelFor(model => model.Budget, new { @class = "uk-form-label" })
            <div class="uk-form-controls">
                @Html.TextBoxFor(model => model.Budget, new { @required = "true", @class = "uk-input"})
            </div>
        </div>
        <div class="uk-margin">
            @Html.LabelFor(model => model.Members, new { @class = "uk-form-label" })
            <div class="uk-form-controls">
                @Html.TextBoxFor(model => model.Members, new { @required = "true", @class = "uk-input" })
            </div>
        </div>
        <div class="uk-margin">
            @Html.LabelFor(model => model.Public, new { @class = "uk-form-label" })
            <div class="uk-form-controls">
                @Html.EditorFor(model => model.Public, new { @required = "true", @class = "uk-input" })
            </div>
        </div>
        <button type="submit" class="uk-button uk-button-default">Create Trip</button>
    </form>


<script type="text/javascript">

    google.maps.event.addDomListener(window, 'load', function () {
        var options = {
            types: ['(cities)']
        };

        var input = document.getElementById('StartCity');
        var places = new google.maps.places.Autocomplete(input, options);
    });
</script>