@{
    ViewData["Title"] = "Trip Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TripPlanet.Models.Trip

<h2>Trip Details for @Model.Name</h2>

@Html.ActionLink("Trip Map", "MapView", new { id = @Model.TripId })
    
<br /><br />

<p>@Html.DisplayNameFor(model => model.BeginDate) : @Html.DisplayFor(model => model.BeginDate)</p>
<p>@Html.DisplayNameFor(model => model.EndDate) : @Html.DisplayFor(model => model.EndDate)</p>
<p>@Html.DisplayNameFor(model => model.Budget) : @Html.DisplayFor(model => model.Budget)</p>
<p>@Html.DisplayNameFor(model => model.Members) : @Html.DisplayFor(model => model.Members)</p>


<h3>Trip Cities:</h3>


@Html.ActionLink("Add A City", "Create", "Cities", new { id = Model.TripId })
<br /><br />
@foreach (var tripCity in ViewBag.Cities)
{
    <a href="/Cities/Details/@tripCity.CityId" id="@tripCity.CityId">@tripCity.City.Name</a><br />

}
<br /><br />
@Html.ActionLink("Edit Trip Details", "Edit", new { id = Model.TripId }, new { @class = "waves-effect waves-light btn" })
@Html.ActionLink("Delete This Trip", "Delete", new { id = Model.TripId }, new { @class = "waves-effect waves-light btn red lighten-1" })
<hr />
<p>@Html.ActionLink("Back to Trips", "Index")</p>

<script>
    $(document).ready(function () {
        $('.modal').modal();
        
    });
</script>