@{
    ViewData["Title"] = "Edit Trip Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TripPlanet.Models.Trip

<h2>Edit this trip: @Html.DisplayFor(model => model.Name)</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TripId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.LabelFor(model => model.StartCity)
    @Html.EditorFor(model => model.StartCity)
    @Html.LabelFor(model => model.BeginDate)
    @Html.EditorFor(model => model.BeginDate)
    @Html.LabelFor(model => model.EndDate)
    @Html.EditorFor(model => model.EndDate)
    @Html.LabelFor(model => model.Budget)
    @Html.EditorFor(model => model.Budget)
    @Html.LabelFor(model => model.Members)
    @Html.EditorFor(model => model.Members)
    @Html.LabelFor(model => model.Public)
    @Html.EditorFor(model => model.Public)


    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>
