@{
    ViewData["Title"] = "Trips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<TripPlanet.Models.Trip>
<h2>Trips</h2>
@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("Create A New Trip", "Create")</p>
        @if (ViewBag.UserTrips.Count != 0)
        {
            <div class="uk-flex uk-flex-wrap uk-flex-center">
                @foreach (var trip in ViewBag.UserTrips)
                {
                    <div class="uk-card uk-card-default uk-width-1-2@m trip-cards">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">@trip.Name</h3>
                                    <p class="uk-text-meta uk-margin-remove-top">@trip.BeginDate.Date to @trip.EndDate.Date</p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-footer">
                            <a href="/Trips/Details/@trip.TripId" class="uk-button uk-button-text">Trip Details</a>
                        </div>
                    </div>
                }
            </div>
        } else
        {
            <p>You have not created any trips.</p>
        }
} else
{
    <p>You must @Html.ActionLink("Register", "Index", "Account") before creating a trip.</p>
}